/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */



nav ul a,nav .brand-logo {
  with: 140px;
  padding-right: 16px;
  padding-left: 16px;
  color: #1D1D1C;

}


p.light {
  text-align: center;
}

.white   {
  top: 0;
  position: fixed;
  z-index: 2;

}

.sidenav-trigger{
   position: fixed;
  z-index: 2;
    top: 0;
}



.nav-wrapper a:hover, .pippo a{
  color: #28582D;
  background-color: #B7D5AA;
  font-weight:bolder ;

}

.nav .brand-logo{
  padding-right: 16px;
}

nav img {
  width: 70px;
  height: 70px;
}


p .light {
  line-height: 2 rem;
  text-align: center;

}


.storia img{
  width: 100%;
  margin-left: 30px;
  padding: 0;


}

H5 {
  color: #1D1D1C;
  font-family: Roboto;
  font-size: 1.6REM;

}

.sidenav-trigger {
  color: #993300;
}

.parallax-container {
 padding-top: 200px;
  min-height: 300px;
  line-height: center;
  height: auto;
  color: #993300;
  width: 100%;
 
}


.containerpadre {

.teal-text.text-lighten-2 
  font-family: ROBOTO;
  text-align: center;

}



/*********frantoio****************/


.copertina img{
  width:100%;
 
} 
.col img {
  width: 100%;
  margin: auto;
}

h1 {
  text-align: center;

}


p{
  margin-bottom: 20px;


}


.row p {
  font-size: 1 rem;
 
 }



.content {
margin-top: 100px;
margin-left: 30px;
margin-right: 30px;

}

.col h3{
font-size: 50px;
margin-top: 0;
color: #28582D;

}


.container-storia img { 
width: 100%;
margin-right: 200px;

}

.content_fase2{
  margin-top: 100px;
  margin-left: 30px;
  margin-right: 30px;
}


/*********agriturismo****************/

.copertina img{
  width: 100%;

}  


/*********vitivinicola****************/

.title_vini h1{
  font-size: 43px;
  font-family: sans-serif;
  text-align: center;
}

.caption h3{
  font-size: 25px;
  padding-left: 16px;
}

.caption p{
  font-size: 16px;
  padding-left: 16px;
}

.item_img{

padding: 16px;

}
.item_img {
width: 100%;
 
}


.container_gallery{
  width: 450px ;
  display: inline-grid;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 16px;

}

/*********PAGINE****************/


/*********footer****************/

li img {
  width: 34px;
  height: 34px;


}

/*********responsive materialize****************/





@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }


  #index-banner .section {
    top: 10%;
  }



@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}


footer.page-footer {
  margin: auto;
 
}
